<h3>Employee</h3>
<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form (submit)="onSaveEmployee(employeePostForm)" #employeePostForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Fullname:</mat-label>
      <input matInput name="name" [ngModel]="employee?.name" required #name="ngModel" placeholder="name">
      <mat-error *ngIf="name.invalid">Fullname cannot be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>E-mail:</mat-label>
      <input matInput name="email" [ngModel]="employee?.email" required #email="ngModel" placeholder="E-mail">
      <mat-error *ngIf="email.invalid">E-mail cannot be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address:</mat-label>
      <input matInput name="address" [ngModel]="employee?.address" placeholder="Address">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone:</mat-label>
      <input matInput name="phone" [ngModel]="employee?.phone" placeholder="Phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Manager:</mat-label>
      <input matInput name="manager" [ngModel]="employee?.manager_id" placeholder="Manager">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Comments:</mat-label>
      <textarea matInput name="comments" rows="3" [ngModel]="employee.comments" placeholder="Comments"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>