<h3>Hotel</h3>
<mat-card>

  <mat-spinner *ngIf="isLoading"></mat-spinner>

  <form [formGroup]="form" (submit)="onSaveHotel()" *ngIf="!isLoading">
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput type="text" name="name" formControlName="name" placeholder="name">
      <mat-error *ngIf="form.get('name').invalid">Name cannot be empty</mat-error>
    </mat-form-field>
    <div>
      <!-- hide the actual file picker button and pass an event from mat-button to it -->
      <button mat-stroked-button type="button" (click)="imagePicker.click()">Image</button>
      <input type="file" #imagePicker (change)="onPickImage($event)">
    </div>
    <div class="image-preview" *ngIf="imagePreview && imagePreview !== '' && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.name">
    </div>
    <mat-form-field>
      <mat-label>E-mail:</mat-label>
      <input matInput type="email" name="email" formControlName="email" placeholder="E-mail">
      <mat-error *ngIf="form.get('email').invalid">E-mail cannot be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address:</mat-label>
      <input matInput type="text" name="address" formControlName="address" placeholder="Address">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone:</mat-label>
      <input matInput type="text" name="phone" formControlName="phone" placeholder="Phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Rooms:</mat-label>
      <input matInput type="number" name="rooms" formControlName="rooms" placeholder="Rooms">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Comments:</mat-label>
      <textarea matInput name="comments" rows="3" formControlName="comments" placeholder="Comments"></textarea>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">Save</button>
  </form>
</mat-card>
