<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-accordion multi="true" *ngIf="employees.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let employee of employees">
    <mat-expansion-panel-header>
      {{ employee.name }}
    </mat-expansion-panel-header>
    <p>id: {{ employee.id }}</p>
    <p *ngIf="userLevel == 0">rv: {{ employee.rv }}</p>
    <p>email: {{ employee.email }}</p>
    <p>address: {{ employee.address }}</p>
    <p>phone: {{ employee.phone }}</p>
    <p>user profile: {{ employee.user_id }}</p>
    <p>comments: {{ employee.comments }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/emp-edit', employee.id]" >UPDATE</a>
      <button mat-button color="warn" (click)="onDelete(employee.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="employees.length <= 0 && !isLoading">No employees defined</p>